.container {
    display: flex;
    gap: 10px;
    align-items: center;
}
.button {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: #1FAA24;
}

.buttonContent {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFF;
    font-family: var(--font-Roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: 28px;
}

.icon {
    width: 24px;
    height: 24px;
}

@media (max-width: 340px) {
    .buttonContent {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .buttonContent {
        font-size: 10px;
    }
}
