/* Подключение шрифтов */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Monrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./fonts/SF/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./fonts/SF/SF-Pro-Rounded-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

:root {
  /* Основные шрифты */
  --font-Inter: 'Inter', sans-serif;
  --font-SFDisplay: 'SF Pro Display', sans-serif;
  --font-SFRounded: 'SF Pro Rounded', sans-serif;
  --font-Manrope: 'Manrope', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
  
  /* Насыщенность шрифтов */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-Inter);
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(180deg, #696969 0%, #252525 100%) fixed;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 18px 30px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

li {
  list-style: none;
}